<div class="container custom-margin align-items-center">
    <ul class="list-group">
        <li class="list-group-item bg-secondary bg-opacity-50 border-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center d-flex align-items-center">
                            <img src="/img/fz.png" alt="fz" width="35" height="35" class="d-inline-block align-text-top">
                            <span class="fs-4 fw-bold">Физические лица</span>
                        </div>
                        <div class="card-body">
                            Предоставляет основную информацию о физических лицах: потребителях и заказчиках оборазовательных услуг, а так же о изучаемых специальностях и связанных с ним договорах.
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" onclick="window.location.href='/fz'" class="btn btn-warning">Перейти</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center d-flex align-items-center">
                            <img src="/img/yr.png" alt="yr" width="35" height="35" class="d-inline-block align-text-top">
                            <span class="fs-4 fw-bold">Юридические лица</span>
                        </div>
                        <div class="card-body">
                            Предоставляет информацию об организациях выступающих в качестве заказчиков оборазовательных услуг.
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" onclick="window.location.href='/yr'" class="btn btn-warning">Перейти</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item bg-secondary bg-opacity-50 border-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center d-flex align-items-center">
                            <img src="/img/obr.png" alt="obr" width="35" height="35" class="d-inline-block align-text-top">
                            <span class="fs-4 fw-bold">Специальности</span>
                        </div>
                        <div class="card-body">
                            Список специальностей доступных для обучения на внебюджетной основе, образовательных программах и их стоимость.
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" onclick="window.location.href='/spec'" class="btn btn-warning">Перейти</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center d-flex align-items-center">
                            <img src="/img/dolg.png" alt="dolg" width="35" height="35" class="d-inline-block align-text-top">
                            <span class="fs-4 fw-bold">Задолжники</span>
                        </div>
                        <div class="card-body">
                            Список студентов просрочивших оплату по договору.
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" onclick="window.location.href='/dolg'" class="btn btn-warning">Перейти</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
		<li class="list-group-item bg-secondary bg-opacity-50 border-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center d-flex align-items-center">
                            <img src="/img/dogovor.png" alt="dogovor" width="35" height="35" class="d-inline-block align-text-top">
                            <span class="fs-4 fw-bold">Договора</span>
                        </div>
                        <div class="card-body">
                            Все договоры системы (действующие, закрытые, расторгнутые).
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" onclick="window.location.href='/dog'" class="btn btn-warning">Перейти</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center d-flex align-items-center">
                            <img src="/img/prikaz.png" alt="prikaz" width="35" height="35" class="d-inline-block align-text-top">
                            <span class="fs-4 fw-bold">Приказы</span>
                        </div>
                        <div class="card-body">
                            Список приказов о движении контингента студентов. 
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                           <button type="button" onclick="window.location.href='/prikazs'" class="btn btn-warning">Перейти</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
